#badge {
  font-size: 5vw;
}
#title {
  background-image: url(./../images/Background.jpg);
  background-size: cover;
}
h2 {
  text-align: center;
  color: #111111;
  padding-top: 2vh;
}
#div-profile-img{
  padding-left: 5vw;
  padding-top: 3vh;
}
#profile-img {
  height: 45vh;
  width: 40vw;
}
#about-section {
  background-color: #dcdcdc;
  display: "grid";
  grid-template-columns: "repeat(3, 1fr)";
  grid-gap: 20;
  word-break: break-word;
  overflow: hidden;
}

@media (min-width: 400px) {
  #about-container {
    font-size: 1.5vw;
  }
}
#about-container {
  padding-top: 7vh;
}

#col-story {
  width: 100vw;
}
#col-skills {
  width: 100vw;
  padding-right: 3vw;
}

#projects {
  background-color: #dcdcdc;
  padding-top: 7vh;
  margin: 0 auto;
}
.project-overlay {
  width: 50vw;
  height: 40vh;
  border: 1px solid black;
  float: left;
  padding: 0 auto;
  margin: 0 auto;
  
}
.project-title{
  z-index: 1;
}
#agr{
  background-image: url(./../images/agr.png);
  background-size: cover;
}
#mfc{
  background-image: url(./../images/mfc.png);
  background-size: cover;
}
#project-off-white{
  background-image: url(./../images/blog.png);
  background-size: cover;
}
.view.overlay.zoom {
  height: 100%;
  margin: 0 auto;
}
h3 {
  padding-top: 12vh;
  text-align: center;
  font-size: 4vw !important;
}
.project-img {
  padding-left: 15vw;
  padding-top: 5vh;
}
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container-contact {
  width: 50%;
  margin: 0 auto;
}
.container-skills{
  margin: 0 auto;
  padding-top: 3vh;
}

.bar {
  background-color: #eee;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.bar::before {
  content: attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;

}

.bar.front::before {
  background-color: red;
  width: calc(100% - 20px);
}
#php::before {
  background-color: purple;
  width: calc(80% - 10px);
}

#html::before {
  background-color: yellow;
  width: calc(80% - 10px);
}
#python::before {
  background-color: blue;
  width: calc(60% - 10px);
}
#react::before {
  background-color: lightblue;
  width: calc(40% - 10px);
}
#contact{
  padding-top: 8vh;
  background-color: #dcdcdc;
  height: 120vh;
}
