#badge {
  font-size: 9vmin;
}
#title {
  background-image: url(./../images/Background.jpg);
  background-size: cover;
}

#about-section {
  padding-top: 8vh;
  display: flex;
  width: 100%;  
  overflow: auto;
}

.about-description{
  font-size: 3vmin;
}
.row{
  width: 100%;
}

#skills{
  padding-top: 8vh;
  display: flex;
  overflow: auto;
  background-color: #FAFAFA;
}

.img-responsive{
   width:auto;
   height: auto;
   max-width: 100%;
   max-height: 100%;
}
.img-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-description{
  font-size: 3vmin;
}
.progress{
   display: flex;
   flex-wrap: wrap;
   overflow: auto;
   margin: 1.5vmin;
}
.progress-bar {
  height: 100%;
  font-size: 2.4vmin;
}
#projects {
  padding-top: 8vh;
  margin: 0 auto;
  padding-left: 3vw;
}
.project-overlay {
  width: 46vw;
  height: 40vh;
  border: 1px solid black;
  float: left;
  padding: 0 auto;
  margin: 0 auto;
  
}

#agr{
  background-image: url(./../images/agr.png);
  background-size: cover;
}
#mfc{
  background-image: url(./../images/mfc.png);
  background-size: cover;
}
#project-off-white{
  background-image: url(./../images/blog.png);
  background-size: cover;
}
.view.overlay.zoom {
  height: 100%;
  margin: 0 auto;
}

#contact{
  padding-top: 8vh;
  height: 110vh;
  background-image: url(./../images/Vancouver.jpg);
  background-size: cover;
}