#badge {
  font-size: 10vh;
}
#title {
  background-image: url(./../images/Background.jpg);
  background-size: cover;
}
h2 {
  text-align: center;
  color: #111111;
  padding-top: 2vh;
}
#profile-img {
  height: 100vh;
  width: 60vh;
  padding: 0;
  z-index: 0;
  border: 1px solid #111111;
}
#about-section {
  background-color: #dcdcdc;
  display: "grid";
  grid-template-columns: "repeat(3, 1fr)";
  grid-gap: 20;
  display: table-cell;
  word-break: break-word;
  overflow: hidden;
}
#about-container {
  height: 100%;
  padding-top: 7vh;
}
#row {
  height: 100vh;
  width: 100vw;
}
#col-story {
  font-size: 3vh;
}
#col-skills {
  font-size: 3vh;
}
#col-skillsbar {
  padding-top: 20vh;
}

#projects {
  background-color: #dcdcdc;
  padding-top: 7vh;
  margin: 0 auto;
}
.project-overlay {
  width: 50%;
  height: 40vh;
  border: 1px solid black;
  float: left;
  padding: 0 auto;
  margin: 0 auto;
  background-color: #111111;
}
.view.overlay.zoom {
  height: 100%;
  margin: 0 auto;
}
h3 {
  color: #dcdcdc;
  text-align: center;
}
.project-img {
  padding-left: 18vw;
  padding-top: 8vh;
}
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.bar {
  background-color: #eee;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.bar::before {
  content: attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;

}

.bar.front::before {
  background-color: red;
  width: calc(100% - 20px);
}
#php::before {
  background-color: purple;
  width: calc(80% - 10px);
}

#html::before {
  background-color: yellow;
  width: calc(80% - 10px);
}
#python::before {
  background-color: blue;
  width: calc(60% - 10px);
}
#react::before {
  background-color: lightblue;
  width: calc(40% - 10px);
}
#contact{
  padding-top: 10vh;
  background-color: #dcdcdc
}
