#badge {
  font-size: 9vmin;
}
#title {
  background-image: url(./../images/Background.jpg);
  background-size: cover;
}

#about-section {
  padding-top: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;  
  overflow: auto;
}

.about-description{
  font-size: 3vmin;
}
.row{
  width: 100%;
}

#skills{
  padding-top: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background-color: #FAFAFA;
}


#skills-right{
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  align-content: flex-start;
  flex: 1;
}
.img-responsive{
   flex: 1;
   width:auto;
   height: auto;
   max-width: 30vw;
   min-width: 10vw;
   max-height: 90vh;
   min-height: 30vh;
}
.skills-description{
  font-size: 3vmin;
}
.progress{
   display: flex;
   flex-wrap: wrap;
   overflow: auto;
   align-content: flex-start;
   margin: 1.25vmin;
}
#projects {
  padding-top: 8vh;
  margin: 0 auto;
  padding-left: 4vw;
}
.project-overlay {
  width: 46vw;
  height: 40vh;
  border: 1px solid black;
  float: left;
  padding: 0 auto;
  margin: 0 auto;
  
}
.project-title{
  z-index: 1;
}
#agr{
  background-image: url(./../images/agr.png);
  background-size: cover;
}
#mfc{
  background-image: url(./../images/mfc.png);
  background-size: cover;
}
#project-off-white{
  background-image: url(./../images/blog.png);
  background-size: cover;
}
.view.overlay.zoom {
  height: 100%;
  margin: 0 auto;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #dcdcdc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
  background-color: #4CAF50;
  color: #dcdcdc;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container-contact {
  width: 50%;
  margin: 0 auto;
}

#contact{
  padding-top: 8vh;
  height: 108vh;
  background-image: url(./../images/Vancouver2.jpg);
  background-size: cover;
}
 .recaptcha {
   transform: scale(0.77);
   -webkit-transform: scale(0.77);
   transform-origin: 0 0;
   -webkit-transform-origin: 0 0;
 }