#badge {
  font-size: 9vmin;
}
#title {
  background-image: url(./../images/Background.jpg);
  background-size: cover;
}

#about-section {
  padding-top: 8vh;
  display: flex;
  width: 100%;  
  overflow: auto;
}

.about-description{
  font-size: 3vmin;
}
.row{
  width: 100%;
}

#skills{
  padding-top: 8vh;
  display: flex;
  overflow: auto;
  background-color: #FAFAFA;
}

.img-responsive{
   width:auto;
   height: auto;
   max-width: 30vw;
   min-width: 10vw;
   max-height: 90vh;
   min-height: 30vh;
}
.skills-description{
  font-size: 3vmin;
}
.progress{
   display: flex;
   flex-wrap: wrap;
   overflow: auto;
   margin: 1.5vmin;
}
.progress-bar {
  height: 100%;
}
#projects {
  padding-top: 8vh;
  margin: 0 auto;
  padding-left: 4vw;
}
.project-overlay {
  width: 46vw;
  height: 40vh;
  border: 1px solid black;
  float: left;
  padding: 0 auto;
  margin: 0 auto;
  
}

#agr{
  background-image: url(./../images/agr.png);
  background-size: cover;
}
#mfc{
  background-image: url(./../images/mfc.png);
  background-size: cover;
}
#project-off-white{
  background-image: url(./../images/blog.png);
  background-size: cover;
}
.view.overlay.zoom {
  height: 100%;
  margin: 0 auto;
}

#contact{
  padding-top: 8vh;
  height: 108vh;
  background-image: url(./../images/Vancouver.jpg);
  background-size: cover;
}