header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    position:fixed;
    width: 100vw!important;
    z-index: 1;
    
  }
  
  header li {
    float: left;
  }
  
  header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  header li a:hover {
    background-color: #111111;
  }
  h1{
    text-align: center;
    color:#111111;
    padding-top: 25vh;
  }
  #linkedin{
    margin: 0.5vh;
    margin-right: 5vh;
  }
  .navbar-right{
    float: right;
  }