.App {
  scroll-behavior: smooth;
  align-content: center;
  font-family: 'Open Sans', sans-serif, Helvetica, Arial;
  color: #111111;
  background-color: #dcdcdc;
}
body{
  width:100%;
}
section {
  height:auto;
  min-height: 625px;
  max-height: 2000px;
  width: 100% !important;
}
header {
  font-family: 'Open Sans';
}

h1 {
  text-align: center;
  color: #111111; 
  padding-top: 25vh;
  font-family: 'Open Sans';
}
h2 {
  text-align: center;
  color: #111111;
  padding-top: 2vh;
  font-size: 3em !important;
  font-family: 'Raleway';
  font-weight: bold;
}
h3 {
  padding-top: 12vh;
  text-align: center;
  font-size: 3em !important;
}
h4 {
  font-size: 1em !important;
}
h5 {
  font-size: 2em !important;
  font-weight: 350;
  color: #007BFF;
}